/* body {
  background-image: url(sgi.jpg);
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}
*/
#timeDiv {
  font-size: 20px;
  color: blue;
  width: 200px;
  height: 1000px;
  background-color: #999999;
  float: left;
}
#header {
  background-color: #CCCCCC;
  font-size: 75px;
  color: #000000;
  font-family: cursive;
}
#guidDiv {
  background-color: #FFFFFF;
  font-size: 35px;
  font-family: cursive;
  color: #green
}
